-
  var TITLE = ""
  var KEYWORDS = ""
  var DESC = ""
  var URL = ""
  var PATH = ""
  var TOP = ""
  var RELEASE_DATE = "2020-03-01"
  var CREDIT = "2020 GEW / Thanks for Message!!"
  var COPY = ""

  var lists = [
    {
      date : "2020.02.28",
      title : "まるまるなまるまる",
      text : "まるまるなまるまる。まるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。<br/>まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。"
    },
    {
      date : "2020.02.28",
      title : "まるまるなまるまる",
      text : "まるまるなまるまる。まるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。<br/>まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。まるまるなまるまるまるまるなまるまるまるまるなまるまるまるまるなまるまる。"
    }
  ]
