.footer
  p.footer_copy 朝日新聞デジタルに掲載の記事・写真の無断転載を禁じます。<br class="sp">すべての内容は日本の著作権法並びに国際条約により保護されています。<br/>Copyright © The Asahi Shimbun Company. All rights reserved.<br class="sp"> No reproduction or republication without written permission.
