.loading
header.header#header
  a(href="https://www.asahi.com/").header_asahi.trans
    img(src="img/logo_asahi_w.png").w100
  h1.header_title
    img(src="img/title.png").w100
  p.header_credit.right.
    広告特集<br class="sp"/>　企画・制作　朝日新聞社メディアビジネス局
