.wrap800.mt50
  .flex.flex_m50.sp-p20
    a(href="" target="_blank").btn.hvr-sweep-to-right.sp_center.pink マシュマロ<span class="mash"></span>
    a(href="" target="_blank").btn.hvr-sweep-to-right.sp_center.blue Google Form<span class="google"></span>
