@mixin fade-config {
  animation-fill-mode: both;
  animation-duration: 0.7s;
  animation-delay: 0s;
  visibility: visible !important;
}

.fadein {
  opacity: 0;
}

.fadeInUp {
  animation-name: fadeInUp;
  @include fade-config;
}

.fadeInUp2 {
  animation-name: fadeInUp2;
  @include fade-config;
}
@keyframes fadeInUp {
  from {
    transform: translateY(20%);
    opacity: 0;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeInUp2 {
  from {
    margin-top: 30px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}
